<!DOCTYPE html>
<html>
<head>
  <title>Home page</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="app.css">

</head>
<body>
  <h2>Guess a gif</h2>

  <div class="gifs">
    <div class="gif" id="gif-1"></div>
    <div class="gif" id="gif-2"></div>
    <div class="gif" id="gif-3"></div>
  </div>

  <!-- Javascript -->
  <script type="text/javascript" src="giphy/getGifs.js"></script>
</body>
</html>
