#game-form {
  top: 10vw;
  right: 10vw;
  width: 20vw;
  position: fixed;
  display: grid;
  grid-gap: 10px;
  background-color: darksalmon;
  padding: 2px;
}

.form-radio {
  display: none;
}

label.radio-label {
  cursor: pointer;
  /* background-color: #3498db; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

button.btn.submit {
  /* grid-column: 2 / 4; */
  /* grid-row: 2; */
  font-size: 1em;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: uppercase;
}
