div.masonry {
  column-gap: 1em;
  column-count: 3;
  margin-bottom: 61px;
}

@media (max-width: 1000px) {
  div.masonry {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  div.masonry {
    column-count: 1;
  }
}

figure {
  margin: 0;
}

figure img.gif {
  padding: 2px 2.5vw;
  max-width: 95%;
}

figure .gif.item {
  border-radius: 5px;
}